@*
    * Copyright 2020 kzlabo
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    *     http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
*@
@page "/BrandsMaintenance"
@inherits MyPageBase
@*
    --------------------------------------------------
    main content
    --------------------------------------------------
*@
<div class="main-content @MainFullClassName">
    @*
        --------------------------------------------------
        title area
        --------------------------------------------------
    *@
    <h1>@($"{WordResource.Brand_Master} {WordResource.Maintenance}")</h1>

    @*
        --------------------------------------------------
        command area
        --------------------------------------------------
    *@
    <div>
        <p>
            <button @onclick="OnSearchClick" type="button">@WordResource.Search</button>
            <button @onclick="OnPutClick" type="button">@WordResource.Commit</button>
            <button @onclick="OnHelpClick" type="button">@WordResource.Help</button>
        </p>
    </div>

    @*
        --------------------------------------------------
        grid command area
        --------------------------------------------------
    *@
    <div>
        <EditableItemAddButtonComponent TItem="BrandInputModel" Items="Brands">@WordResource.Add</EditableItemAddButtonComponent>
        <button @onclick="OnSortClick" type="button">@WordResource.Sort</button>
    </div>
    @*
        --------------------------------------------------
        grid item area
        --------------------------------------------------
    *@
    <EditableGridComponent TItem="BrandInputModel"
                           Items="@Brands"
                           EditRowClass="is-selected"
                           DeletedRowClass="is-deleted"
                           class="table is-bordered is-slim is-color-patterned"
                           style="width:100%; min-width:1000px; table-layout:fixed; word-break: break-all;">
        <TableColgroup>
            <col style="width:60px;" />
            <col style="width:60px;" />
            <col style="width:120px;" />
            <col style="width:200px;" />
            <col style="width:calc(100% - 440px);min-width:300px;" />
        </TableColgroup>
        <TableHeader>
            <EditableGridDataRow>
                <th></th>
                <th></th>
                <th class="middle center">@($"{WordResource.Brand}{WordResource.Code}")</th>
                <th class="middle center">@($"{WordResource.Brand}{WordResource.Name}")</th>
                <th class="middle center">@($"{WordResource.Note}")</th>
            </EditableGridDataRow>
            <EditableGridDataRow>
                <th></th>
                <th></th>
                <th><FilterConditionComponent PropertyName="@nameof(BrandInputModel.BrandId)" /></th>
                <th><FilterConditionComponent PropertyName="@nameof(BrandInputModel.BrandName)" /></th>
                <th><FilterConditionComponent PropertyName="@nameof(BrandInputModel.Note)" /></th>
            </EditableGridDataRow>
        </TableHeader>
        <RowTemplate Context="brand">
            <EditableGridDataRow @key="brand.UniqueId">
                @* ItemCommand *@
                <td class="middle center">
                    <EditableItemEditButtonComponent Item="@brand" />
                </td>
                <td class="middle center">
                    <EditableItemDeleteButtonComponent Item="@brand" />
                </td>
                @* BrandId *@
                <td class="middle">
                    <EditableTextLabelColumnComponent Item="@brand" PropertyName="@nameof(brand.BrandId)" />
                </td>
                @* BrandName *@
                <td class="middle">
                    <EditableTextLabelColumnComponent Item="@brand" PropertyName="@nameof(brand.BrandName)" />
                </td>
                @* Note *@
                <td class="middle">
                    <EditableTextLabelColumnComponent Item="@brand" PropertyName="@nameof(brand.Note)" />
                </td>
            </EditableGridDataRow>
        </RowTemplate>
        <EditTemplate Context="brand">
            <EditableGridDataRow @key="brand.UniqueId">
                @* ItemCommand *@
                <td class="middle center">
                    <EditableItemEditButtonComponent Item="@brand" />
                </td>
                <td class="middle center">
                    <EditableItemDeleteButtonComponent Item="@brand" />
                </td>
                @* BrandId *@
                <td class="middle">
                    <EditableTextControlComponent @bind-Value="brand.BrandId" EditableState="EditStateOptions.Added" />
                </td>
                @* BrandName *@
                <td class="middle">
                    <EditableTextControlComponent @bind-Value="brand.BrandName" />
                </td>
                @* Note *@
                <td class="middle">
                    <EditableTextAreaControlComponent @bind-Value="brand.Note" />
                </td>
            </EditableGridDataRow>
        </EditTemplate>
    </EditableGridComponent>
</div>

@*
    --------------------------------------------------
    option content
    --------------------------------------------------
*@
<LayerManagerComponent @ref="LayerManager" class="optionbar">
    @* SortOption *@
    <SortOptionBarComponent TItem="BrandInputModel" Items="@Brands" Name="SortOption" class="optionbar-content">
        <SortConditionComponent PropertyName="@nameof(BrandInputModel.BrandId)" DisplayName="@($"{WordResource.Brand}{WordResource.Code}")" />
        <SortConditionComponent PropertyName="@nameof(BrandInputModel.BrandName)" DisplayName="@($"{WordResource.Brand}{WordResource.Name}")" />
        <SortConditionComponent PropertyName="@nameof(BrandInputModel.Note)" DisplayName="@($"{WordResource.Note}")" />
    </SortOptionBarComponent>
    @* Help *@
    <TemplateLayerComponent Name="HelpOption" class="optionbar-content">
        マスタメンテナンス画面のサンプル。
    </TemplateLayerComponent>
</LayerManagerComponent>