@*
    * Copyright 2020 kzlabo
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    *     http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
*@
@page "/CustomersMaintenance"
@inherits MyPageBase
@*
    --------------------------------------------------
    main content
    --------------------------------------------------
*@
<div class="main-content @MainFullClassName">
    @*
        --------------------------------------------------
        title area
        --------------------------------------------------
    *@
    <h1>@($"{WordResource.Customer_Master} {WordResource.Maintenance}")</h1>

    @*
        --------------------------------------------------
        command area
        --------------------------------------------------
    *@
    <div class="yn-command">
        <button @onclick="OnSearchClick" type="button" class="yn-button">@WordResource.Search</button>
        <button @onclick="OnPutClick" type="button" class="yn-button">@WordResource.Commit</button>
        <button @onclick="OnHelpClick" type="button" class="yn-button">@WordResource.Help</button>
    </div>

    @*
        --------------------------------------------------
        grid item area
        --------------------------------------------------
    *@
    <ynGridView TItem="CustomerInputModel"
                Items="@Customers"
                PagingType="PagingTypeOptions.None"
                IsVirtualize="true"
                @ref="MasterGridView"
                class="table is-bordered is-slim is-color-patterned"
                style="width:100%; min-width:1300px; table-layout:fixed; word-break: break-all;">
        <Colgroups>
            <colgroup>
                <col style="width:60px;" />
                <col style="width:60px;" />
                <col style="width:150px;" />
                <col style="width:200px;" />
                <col style="width:120px;" />
                <col style="width:80px;" />
                <col style="width:80px;" />
                <col style="width:80px;" />
                <col style="width:80px;" />
                <col style="width:80px;" />
                <col style="width:calc(100% - 990px); min-width:300px;" />
            </colgroup>
        </Colgroups>
        <Header>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2"></th>
                <ynTh PropertyName="@nameof(CustomerInputModel.CustomerId)" rowspan="2" class="middle center" />
                <ynTh PropertyName="@nameof(CustomerInputModel.CustomerName)" rowspan="2" class="middle center" />
                <ynTh PropertyName="@nameof(CustomerInputModel.EstablishmentDate)" rowspan="2" class="middle center" />
                <ynTh PropertyName="@nameof(CustomerInputModel.CutoffDateTypeName)" rowspan="2" class="middle center" />
                <ynTh PropertyName="@nameof(CustomerInputModel.CollectionDateTypeName)" rowspan="2" class="middle center" />
                <th colspan="3" class="middle center">@($"{WordResource.Tax}")</th>
                <ynTh PropertyName="@nameof(CustomerInputModel.Note)" rowspan="2" class="middle center" />
            </tr>
            <tr>
                <ynTh PropertyName="@nameof(CustomerInputModel.TaxTypeName)" class="middle center" />
                <ynTh PropertyName="@nameof(CustomerInputModel.TaxCalcTypeName)" class="middle center" />
                <ynTh PropertyName="@nameof(CustomerInputModel.TaxRoundTypeName)" class="middle center" />
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(CustomerInputModel.CustomerId)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(CustomerInputModel.CustomerName)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(CustomerInputModel.EstablishmentDate)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(CustomerInputModel.CutoffDateTypeName)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(CustomerInputModel.CollectionDateTypeName)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(CustomerInputModel.TaxTypeName)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(CustomerInputModel.TaxCalcTypeName)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(CustomerInputModel.TaxRoundTypeName)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(CustomerInputModel.Note)" /></th>
            </tr>
        </Header>
        <RowTemplate>
            <tr>
                <td class="middle center">
                    <ynEditableSwitch class="yn-button-flat yn-fit-w yn-none-h" />
                </td>
                <td class="middle center">
                    <ynEditableDelete class="yn-button-flat yn-fit-w yn-none-h" />
                </td>
                <td class="middle">
                    <ynText PropertyName="@nameof(CustomerInputModel.CustomerId)" />
                </td>
                <td class="middle">
                    <ynText PropertyName="@nameof(CustomerInputModel.CustomerName)" />
                </td>
                <td class="middle center">
                    <ynText PropertyName="@nameof(CustomerInputModel.EstablishmentDate)" Format="yyyy/MM/dd" />
                </td>
                <td class="middle center">
                    <ynText PropertyName="@nameof(CustomerInputModel.CutoffDateTypeName)" />
                </td>
                <td class="middle center">
                    <ynText PropertyName="@nameof(CustomerInputModel.CollectionDateTypeName)" />
                </td>
                <td class="middle center">
                    <ynText PropertyName="@nameof(CustomerInputModel.TaxTypeName)" />
                </td>
                <td class="middle center">
                    <ynText PropertyName="@nameof(CustomerInputModel.TaxCalcTypeName)" />
                </td>
                <td class="middle center">
                    <ynText PropertyName="@nameof(CustomerInputModel.TaxRoundTypeName)" />
                </td>
                <td class="middle">
                    <ynText PropertyName="@nameof(CustomerInputModel.Note)" />
                </td>
            </tr>
        </RowTemplate>
        <EditTemplate>
            <tr>
                <td colspan="11">
                    <div style="padding:0.75rem;">
                        <div style="display:flex;">
                            <ynEditableSwitch class="yn-button-flat yn-none-w yn-none-h" style="width:60px;" />
                            <ynEditableDelete class="yn-button-flat yn-none-w yn-none-h" style="width:60px;" />
                        </div>
                        <div style="display:flex;">
                            <div style="display:flex; flex-direction:column; flex-basis:50%;">
                                <ynInputText PropertyName="@nameof(CustomerInputModel.CustomerId)" IsTitle="true" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.CustomerName)" IsTitle="true" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.CustomerKanaName)" IsTitle="true" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.CustomerShortName)" IsTitle="true" />
                                <ynInputDate PropertyName="@nameof(CustomerInputModel.EstablishmentDate)" IsTitle="true" TValue="DateTime?" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.Ceo)" IsTitle="true" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.PostalCode)" IsTitle="true" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.Address)" IsTitle="true" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.Tel)" IsTitle="true" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.Fax)" IsTitle="true" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.Mail)" IsTitle="true" />
                                <ynInputText PropertyName="@nameof(CustomerInputModel.Hp)" IsTitle="true" />
                            </div>
                            <div style="display:flex; flex-direction:column; flex-basis:50%;">
                                <ynInputSelect ValueName="@nameof(CustomerInputModel.CutoffDateType)" TextName="@nameof(CustomerInputModel.CutoffDateTypeName)" IsTitle="true" TValue="CutoffDateTypeOptions" TList="CutoffDateTypeListItem" ListItems="CutoffDateTypeList" />
                                <ynInputNumber PropertyName="@nameof(CustomerInputModel.CutoffDate)" IsTitle="true" TValue="int" />
                                <ynInputSelect ValueName="@nameof(CustomerInputModel.CollectionDateType)" TextName="@nameof(CustomerInputModel.CollectionDateTypeName)" IsTitle="true" TValue="CollectionDateTypeOptions" TList="CollectionDateTypeListItem" ListItems="CollectionDateTypeList" />
                                <ynInputNumber PropertyName="@nameof(CustomerInputModel.CollectionDate)" IsTitle="true" TValue="int" />
                                <ynInputSelect ValueName="@nameof(CustomerInputModel.TaxType)" TextName="@nameof(CustomerInputModel.TaxTypeName)" IsTitle="true" TValue="TaxTypeOptions" TList="TaxTypeListItem" ListItems="TaxTypeList" />
                                <ynInputSelect ValueName="@nameof(CustomerInputModel.TaxCalcType)" TextName="@nameof(CustomerInputModel.TaxCalcTypeName)" IsTitle="true" TValue="TaxCalcTypeOptions" TList="TaxCalcTypeListItem" ListItems="TaxCalcTypeList" />
                                <ynInputSelect ValueName="@nameof(CustomerInputModel.TaxRoundType)" TextName="@nameof(CustomerInputModel.TaxRoundTypeName)" IsTitle="true" TValue="TaxRoundTypeOptions" TList="TaxRoundTypeListItem" ListItems="TaxRoundTypeList" />
                                <ynInputTextArea PropertyName="@nameof(CustomerInputModel.Note)" IsTitle="true" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </EditTemplate>
    </ynGridView>
</div>

@*
    --------------------------------------------------
    option content
    --------------------------------------------------
*@
<ynLayer class="optionbar">
    <CustomersMaintenanceHelp @ref="HelpPanel" />
</ynLayer>