@*
    * Copyright 2020 kzlabo
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    *     http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
*@
@page "/ProductsMaintenance"
@inherits ProductsMaintenanceBase
@*
    --------------------------------------------------
    main content
    --------------------------------------------------
*@
<div class="main-content @MainFullClassName">
    @*
        --------------------------------------------------
        title area
        --------------------------------------------------
    *@
    <h1>@($"{WordResource.Product_Master} {WordResource.Maintenance}")</h1>

    @*
        --------------------------------------------------
        command area
        --------------------------------------------------
    *@
    <div class="yn-command">
        <button @onclick="OnSearchClick" type="button" class="yn-button">@WordResource.Search</button>
        <button @onclick="OnPutClick" type="button" class="yn-button">@WordResource.Commit</button>
        <button @onclick="OnHelpClick" type="button" class="yn-button">@WordResource.Help</button>
    </div>

    @*
        --------------------------------------------------
        grid item area
        --------------------------------------------------
    *@
    <ynGridView TItem="ProductInputModel"
                Items="@Products"
                PagingType="PagingTypeOptions.None"
                IsVirtualize="true"
                @ref="ProductGridView"
                class="table is-bordered is-hoverable is-slim is-color-patterned"
                style="width:100%; min-width:1000px; table-layout:fixed; word-break: break-all;">
        <Colgroups>
            <colgroup>
                <col style="width:60px;" />
                <col style="width:60px;" />
                <col style="width:150px;" />
                <col style="width:calc(100% - 870px); min-width:200px;" />
                <col style="width:180px;" />
                <col style="width:180px;" />
                <col style="width:120px;" />
                <col style="width:120px;" />
            </colgroup>
        </Colgroups>
        <Header>
            <tr>
                <th></th>
                <th></th>
                <ynTh PropertyName="@nameof(ProductInputModel.ProductId)" class="middle center" />
                <ynTh PropertyName="@nameof(ProductInputModel.ProductName)" class="middle center" />
                <ynTh PropertyName="@nameof(ProductInputModel.BrandName)" class="middle center" />
                <ynTh PropertyName="@nameof(ProductInputModel.CategoryName)" class="middle center" />
                <ynTh PropertyName="@nameof(ProductInputModel.ListPrice)" class="middle center" />
                <ynTh PropertyName="@nameof(ProductInputModel.ProductTagTypeName)" class="middle center" />
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(ProductInputModel.ProductId)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(ProductInputModel.ProductName)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(ProductInputModel.BrandName)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(ProductInputModel.CategoryName)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(ProductInputModel.ListPrice)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(ProductInputModel.ProductTagTypeName)" /></th>
            </tr>
        </Header>
        <RowTemplate>
            <tr>
                <td class="middle center">
                    <ynEditableSwitch class="yn-button-flat yn-fit-w yn-none-h" />
                </td>
                <td class="middle center">
                    <ynEditableDelete class="yn-button-flat yn-fit-w yn-none-h" />
                </td>
                <td class="middle">
                    <ynInputText PropertyName="@nameof(ProductInputModel.ProductId)" />
                </td>
                <td class="middle">
                    <ynInputText PropertyName="@nameof(ProductInputModel.ProductName)" />
                </td>
                <td class="middle">
                    <div style="display:flex;align-items:center;width:100%;">
                        <div style="width: calc(100% - 3.0rem);">
                            <ynInputSelect TValue="string" TList="BrandListItem" ListItems="BrandList" ValueName="@nameof(ProductInputModel.BrandId)" TextName="@nameof(ProductInputModel.BrandName)" />
                        </div>
                        <div style="width: 3.0rem;">
                            <ynEditableButton @onclick="()=> { OnBrandSelectClick(context); }" class="yn-button-flat yn-fit-w yn-none-h">@WordResource.Select</ynEditableButton>
                        </div>
                    </div>
                </td>
                <td class="middle">
                    <ynInputSelect TValue="string" TList="ProductCategoryListItem" ListItems="ProductCategoryList" ValueName="@nameof(ProductInputModel.CatetoryId)" TextName="@nameof(ProductInputModel.CategoryName)" />
                </td>
                <td class="middle right">
                    <ynInputNumber TValue="decimal" PropertyName="@nameof(ProductInputModel.ListPrice)" Format="0.00" />
                </td>
                <td class="middle">
                    <ynInputCheckBoxList TValue="ProductTagTypeOptions" TList="ProductTagTypeListItem" ListItems="ProductTagTypeList" ValueName="@nameof(ProductInputModel.ProductTagType)" TextName="@nameof(ProductInputModel.ProductTagTypeName)" style="display:flex; flex-direction:column;" />
                </td>
            </tr>
        </RowTemplate>
    </ynGridView>
</div>

@*
    --------------------------------------------------
    option content
    --------------------------------------------------
*@
<ynLayer class="optionbar">
    <ProductsMaintenanceHelp @ref="HelpPanel" />
    <BrandSelector @ref="BrandSelectorPanel" BrandList="@BrandList" />
</ynLayer>
