@*
    * Copyright 2020 kzlabo
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    *     http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
*@
@page "/ProductsRepeaterTypeMaintenance"
@inherits ProductsMaintenanceBase
@*
    --------------------------------------------------
    main content
    --------------------------------------------------
*@
<div class="main-content @MainFullClassName">
    @*
        --------------------------------------------------
        title area
        --------------------------------------------------
    *@
    <h1>@($"{WordResource.Product_Master} {WordResource.Maintenance}")</h1>

    @*
        --------------------------------------------------
        command area
        --------------------------------------------------
    *@
    <div class="yn-command">
        <button @onclick="OnSearchClick" type="button" class="yn-button">@WordResource.Search</button>
        <button @onclick="OnPutClick" type="button" class="yn-button">@WordResource.Commit</button>
        <button @onclick="OnHelpClick" type="button" class="yn-button">@WordResource.Help</button>
    </div>

    <div class="list-table is-slim is-color-patterned">
        <ynRepeater TItem="ProductInputModel"
                    Items="@Products"
                    PagingType="PagingTypeOptions.None"
                    IsVirtualize="true"
                    @ref="MasterRepeater">
            <Header>
                <div class="row is-head is-hidden-mobile">
                    <div class="column" style="flex-basis:100px;"></div>
                    <ynHeaderTag PropertyName="@nameof(ProductInputModel.ProductId)" class="middle center" style="flex-basis:150px;" />
                    <ynHeaderTag PropertyName="@nameof(ProductInputModel.ProductName)" class="middle center" style="flex-basis:200px;flex-grow:1;" />
                    <ynHeaderTag PropertyName="@nameof(ProductInputModel.BrandName)" class="middle center" style="flex-basis:180px;" />
                    <ynHeaderTag PropertyName="@nameof(ProductInputModel.CategoryName)" class="middle center" style="flex-basis:180px;" />
                    <ynHeaderTag PropertyName="@nameof(ProductInputModel.ListPrice)" class="middle center" style="flex-basis:120px;" />
                    <ynHeaderTag PropertyName="@nameof(ProductInputModel.ProductTagTypeName)" class="middle center" style="flex-basis:120px;" />
                </div>
                <div class="row is-head is-hidden-mobile">
                    <div class="column" style="flex-basis:100px;"></div>
                    <div class="column middle center" style="flex-basis:150px;"><ynFilterInputText PropertyName="@nameof(ProductInputModel.ProductId)" /></div>
                    <div class="column middle center" style="flex-basis:200px;flex-grow:1;"><ynFilterInputText PropertyName="@nameof(ProductInputModel.ProductName)" /></div>
                    <div class="column middle center" style="flex-basis:180px;"><ynFilterInputText PropertyName="@nameof(ProductInputModel.BrandName)" /></div>
                    <div class="column middle center" style="flex-basis:180px;"><ynFilterInputText PropertyName="@nameof(ProductInputModel.CategoryName)" /></div>
                    <div class="column middle center" style="flex-basis:120px;"><ynFilterInputText PropertyName="@nameof(ProductInputModel.ListPrice)" /></div>
                    <div class="column middle center" style="flex-basis:120px;"><ynFilterInputText PropertyName="@nameof(ProductInputModel.ProductTagTypeName)" /></div>
                </div>
            </Header>
            <RowTemplate>
                <div class="row">
                    <div class="column middle center" style="flex-basis:100px;flex-grow:0;">
                        <ynEditableSwitch class="yn-button-flat yn-none-w yn-none-h" style="width:40px;" />
                        <ynEditableDelete class="yn-button-flat yn-none-w yn-none-h" style="width:40px;" />
                    </div>
                    <div class="column middle" style="flex-basis:150px;">
                        <ynInputText PropertyName="@nameof(ProductInputModel.ProductId)" />
                    </div>
                    <div class="column middle" style="flex-basis:200px;flex-grow:1;">
                        <ynInputText PropertyName="@nameof(ProductInputModel.ProductName)" />
                    </div>
                    <div class="column middle" style="flex-basis:180px;">
                        <div style="display:flex;align-items:center;width:100%;">
                            <div style="width: calc(100% - 3.0rem);">
                                <ynInputSelect TValue="string" TList="BrandListItem" ListItems="BrandList" ValueName="@nameof(ProductInputModel.BrandId)" TextName="@nameof(ProductInputModel.BrandName)" />
                            </div>
                            <div style="width: 3.0rem;">
                                <ynEditableButton @onclick="()=> { OnBrandSelectClick(context); }" class="yn-button-flat yn-fit-w yn-none-h">@WordResource.Select</ynEditableButton>
                            </div>
                        </div>
                    </div>
                    <div class="column middle" style="flex-basis:180px;">
                        <ynInputSelect TValue="string" TList="ProductCategoryListItem" ListItems="ProductCategoryList" ValueName="@nameof(ProductInputModel.CatetoryId)" TextName="@nameof(ProductInputModel.CategoryName)" />
                    </div>
                    <div class="column middle right" style="flex-basis:120px;">
                        <ynInputNumber TValue="decimal" PropertyName="@nameof(ProductInputModel.ListPrice)" Format="0.00" />
                    </div>
                    <div class="column middle" style="flex-basis:120px;">
                        <ynInputCheckBoxList TValue="ProductTagTypeOptions" TList="ProductTagTypeListItem" ListItems="ProductTagTypeList" ValueName="@nameof(ProductInputModel.ProductTagType)" TextName="@nameof(ProductInputModel.ProductTagTypeName)" style="display:flex; flex-direction:column;" />
                    </div>
                </div>
            </RowTemplate>
        </ynRepeater>
    </div>
</div>

@*
    --------------------------------------------------
    option content
    --------------------------------------------------
*@
<ynLayer class="optionbar">
    <ProductsMaintenanceHelp @ref="HelpPanel" />
    <BrandSelector @ref="BrandSelectorPanel" BrandList="@BrandList" />
</ynLayer>
