@*
    * Copyright 2020 kzlabo
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    *     http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
*@
@page "/ProductsRepeaterTypeMaintenance"
@inherits ProductsMaintenanceBase
@*
    --------------------------------------------------
    main content
    --------------------------------------------------
*@
<div class="main-content @MainFullClassName">
    @*
        --------------------------------------------------
        title area
        --------------------------------------------------
    *@
    <h1>@($"{WordResource.Product_Master} {WordResource.Maintenance}")</h1>

    @*
        --------------------------------------------------
        command area
        --------------------------------------------------
    *@
    <div>
        <p>
            <button @onclick="OnSearchClick" type="button">@WordResource.Search</button>
            <button @onclick="OnPutClick" type="button">@WordResource.Commit</button>
            <button @onclick="OnHelpClick" type="button">@WordResource.Help</button>
        </p>
    </div>

    @*
        --------------------------------------------------
        grid command area
        --------------------------------------------------
    *@
    <div>
        <EditableItemAddButtonComponent TItem="ProductInputModel" Items="Products">@WordResource.Add</EditableItemAddButtonComponent>
        <button @onclick="OnSortClick" type="button">@WordResource.Sort</button>
    </div>
    @*
        --------------------------------------------------
        grid item area
        --------------------------------------------------
    *@
    <EditableRepeaterComponent TItem="ProductInputModel"
                               Items="@Products"
                               EditItemClass="is-selected"
                               DeletedItemClass="is-deleted"
                               class="list-table is-slim is-color-patterned">
        <HeaderTemplate>
            <EditableGridDataRow RowTag="div" class="row is-head is-hidden-mobile">
                <div class="column" style="flex-basis:100px;"></div>
                <div class="column middle center" style="flex-basis:150px;">@($"{WordResource.Product}{WordResource.Code}")</div>
                <div class="column middle center" style="flex-basis:200px;flex-grow:1;">@($"{WordResource.Product}{WordResource.Name}")</div>
                <div class="column middle center" style="flex-basis:180px;">@($"{WordResource.Brand}{WordResource.Code}")</div>
                <div class="column middle center" style="flex-basis:180px;">@($"{WordResource.Category}{WordResource.Code}")</div>
                <div class="column middle center" style="flex-basis:120px;">@($"{WordResource.ListPrice}")</div>
                <div class="column middle center" style="flex-basis:120px;">@($"{WordResource.ProductTag}")</div>
            </EditableGridDataRow>
            <EditableGridDataRow RowTag="div" class="row is-head is-hidden-mobile">
                <div class="column" style="flex-basis:100px;"></div>
                <div class="column middle center" style="flex-basis:150px;"><FilterConditionComponent PropertyName="@nameof(ProductInputModel.ProductId)" /></div>
                <div class="column middle center" style="flex-basis:200px;flex-grow:1;"><FilterConditionComponent PropertyName="@nameof(ProductInputModel.ProductName)" /></div>
                <div class="column middle center" style="flex-basis:180px;"><FilterConditionComponent PropertyName="@nameof(ProductInputModel.BrandName)" /></div>
                <div class="column middle center" style="flex-basis:180px;"><FilterConditionComponent PropertyName="@nameof(ProductInputModel.CategoryName)" /></div>
                <div class="column middle center" style="flex-basis:120px;"><FilterConditionComponent PropertyName="@nameof(ProductInputModel.ListPrice)" /></div>
                <div class="column middle center" style="flex-basis:120px;"><FilterConditionComponent PropertyName="@nameof(ProductInputModel.ProductTagTypeName)" /></div>
            </EditableGridDataRow>
        </HeaderTemplate>
        <RowTemplate Context="product">
            <EditableGridDataRow RowTag="div" @key="product.UniqueId" class="row">
                @* ItemCommand *@
                <div class="column middle center" style="flex-basis:100px;">
                    <EditableItemEditButtonComponent Item="@product" class="button is-small" />
                    <EditableItemDeleteButtonComponent Item="@product" class="button is-small" />
                </div>
                @* ProductCode *@
                <div class="column middle" style="flex-basis:150px;">
                    <EditableTextLabelColumnComponent Item="@product" PropertyName="@nameof(product.ProductId)" />
                </div>
                @* ProductName *@
                <div class="column middle" style="flex-basis:200px;flex-grow:1;">
                    <EditableTextLabelColumnComponent Item="@product" PropertyName="@nameof(product.ProductName)" />
                </div>
                @* BrandName *@
                <div class="column middle" style="flex-basis:180px;">
                    <EditableTextLabelColumnComponent Item="@product" PropertyName="@nameof(product.BrandName)" />
                </div>
                @* CategoryName *@
                <div class="column middle" style="flex-basis:180px;">
                    <EditableTextLabelColumnComponent Item="@product" PropertyName="@nameof(product.CategoryName)" />
                </div>
                @* ListPrice *@
                <div class="column middle right" style="flex-basis:120px;">
                    <EditableTextLabelColumnComponent Item="@product" PropertyName="@nameof(product.ListPrice)" Format="0.00" />
                </div>
                @* ProductTagTypeName *@
                <div class="column middle" style="flex-basis:120px;">
                    <EditableTextLabelColumnComponent Item="@product" PropertyName="@nameof(product.ProductTagTypeName)" />
                </div>
            </EditableGridDataRow>
        </RowTemplate>
        <EditTemplate Context="product">
            <EditableGridDataRow RowTag="div" @key="product.UniqueId" class="row">
                @* ItemCommand *@
                <div class="column middle center" style="flex-basis:100px;flex-grow:0;">
                    <EditableItemEditButtonComponent Item="@product" />
                    <EditableItemDeleteButtonComponent Item="@product" />
                </div>
                @* ProductCode *@
                <div class="column middle" style="flex-basis:150px;">
                    <EditableTextControlComponent @bind-Value="product.ProductId" EditableState="EditStateOptions.Added" />
                </div>
                @* ProductName *@
                <div class="column middle" style="flex-basis:200px;flex-grow:1;">
                    <EditableTextControlComponent @bind-Value="product.ProductName" />
                </div>
                @* BrandCode *@
                <div class="column middle" style="flex-basis:180px;">
                    <EditableSelectControlComponent TValue="string"
                                                    TDropModel="BrandListItem"
                                                    DropItems="BrandList"
                                                    SelectedCallBack="product.SetBrand"
                                                    @bind-Value="product.BrandId" />
                    <EditableButtonComponent @onclick="OnBrandSelectClick">@WordResource.Search</EditableButtonComponent>
                </div>
                @* CategoryCode *@
                <div class="column middle" style="flex-basis:180px;">
                    <EditableSelectControlComponent TValue="string"
                                                    TDropModel="ProductCategoryListItem"
                                                    DropItems="ProductCategoryList"
                                                    SelectedCallBack="product.SetCategory"
                                                    @bind-Value="product.CatetoryId" />
                </div>
                @* ListPrice *@
                <div class="column middle right" style="flex-basis:120px;">
                    <EditableNumberControlComponent Format="0.00" @bind-Value="product.ListPrice" class="right" />
                </div>
                @* ProductTagType *@
                <div class="column middle" style="flex-basis:120px;">
                    <EditableCheckBoxListControlComponent TValue="ProductTagTypeOptions"
                                                          TCheckModel="ProductTagTypeListItem"
                                                          DropItems="ProductTagTypeList"
                                                          CheckedCallBack="product.SetProductTagType"
                                                          @bind-Value="product.ProductTagType"
                                                          style="display:flex; flex-direction:column;" />
                </div>
            </EditableGridDataRow>
        </EditTemplate>
    </EditableRepeaterComponent>
    <EditableScrollPagingComponent TItem="ProductInputModel" Items="@Products" PageRowSize="5">
        @WordResource.PagingText
    </EditableScrollPagingComponent>
</div>

@*
    --------------------------------------------------
    option content
    --------------------------------------------------
*@
<LayerManagerComponent @ref="LayerManager" class="optionbar">
    @* SortOption *@
    <SortOptionBarComponent TItem="ProductInputModel" Items="@Products" Name="SortOption" class="optionbar-content">
        <SortConditionComponent PropertyName="@nameof(ProductInputModel.ProductId)" DisplayName="@($"{WordResource.Product}{WordResource.Code}")" />
        <SortConditionComponent PropertyName="@nameof(ProductInputModel.ProductName)" DisplayName="@($"{WordResource.Product}{WordResource.Name}")" />
        <SortConditionComponent PropertyName="@nameof(ProductInputModel.BrandId)" DisplayName="@($"{WordResource.Brand}{WordResource.Code}")" />
        <SortConditionComponent PropertyName="@nameof(ProductInputModel.BrandName)" DisplayName="@($"{WordResource.Brand}{WordResource.Name}")" />
        <SortConditionComponent PropertyName="@nameof(ProductInputModel.CatetoryId)" DisplayName="@($"{WordResource.Category}{WordResource.Code}")" />
        <SortConditionComponent PropertyName="@nameof(ProductInputModel.CategoryName)" DisplayName="@($"{WordResource.Category}{WordResource.Name}")" />
        <SortConditionComponent PropertyName="@nameof(ProductInputModel.ListPrice)" DisplayName="@($"{WordResource.ListPrice}")" />
        <SortConditionComponent PropertyName="@nameof(ProductInputModel.ProductTagType)" DisplayName="@($"{WordResource.ProductTag}")" />
    </SortOptionBarComponent>
    @* BrandSelectorOption *@
    <TemplateLayerComponent Name="BrandSelectorOption" class="optionbar-content">
        <ListItemSelectorComponent TListItem="BrandListItem"
                                   ListItems="BrandList"
                                   class="table is-bordered is-hoverable is-slim is-color-patterned"
                                   style="width:100%; table-layout:fixed; word-break: break-all;">
            <TableColgroup>
                <col style="width:30%;" />
                <col style="width:70%;" />
            </TableColgroup>
            <TableHeader>
                <EditableGridDataRow>
                    <th class="middle center">@($"{WordResource.Code}")</th>
                    <th class="middle center">@($"{WordResource.Name}")</th>
                </EditableGridDataRow>
                <EditableGridDataRow>
                    <th><FilterConditionComponent PropertyName="@nameof(BrandListItem.Key)" /></th>
                    <th><FilterConditionComponent PropertyName="@nameof(BrandListItem.Value)" /></th>
                </EditableGridDataRow>
            </TableHeader>
            <RowTemplate Context="item">
                <EditableGridDataRow>
                    <td class="middle center"><button @onclick="(() => SetBrand(item))" type="button">@item.Key</button></td>
                    <td class="middle">@item.Value</td>
                </EditableGridDataRow>
            </RowTemplate>
        </ListItemSelectorComponent>
    </TemplateLayerComponent>
    @* HelpOption *@
    <TemplateLayerComponent Name="HelpOption" class="optionbar-content">
        マスタメンテナンス画面のサンプル。
    </TemplateLayerComponent>
</LayerManagerComponent>
