@*
    * Copyright 2020 kzlabo
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    *     http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
*@
@page "/ProductCategoriesMaintenance"
@inherits MyPageBase
@*
    --------------------------------------------------
    main content
    --------------------------------------------------
*@
<div class="main-content @MainFullClassName">
    @*
        --------------------------------------------------
        title area
        --------------------------------------------------
    *@
    <h1>@($"{WordResource.Category_Master} {WordResource.Maintenance}")</h1>

    @*
        --------------------------------------------------
        command area
        --------------------------------------------------
    *@
    <div class="yn-command">
        <button @onclick="OnSearchClick" type="button" class="yn-button">@WordResource.Search</button>
        <button @onclick="OnPutClick" type="button" class="yn-button">@WordResource.Commit</button>
        <button @onclick="OnHelpClick" type="button" class="yn-button">@WordResource.Help</button>
    </div>

    @*
        --------------------------------------------------
        grid item area
        --------------------------------------------------
    *@
    <ynGridView TItem="ProductCategoryInputModel"
                Items="@ProductCategories"
                PagingType="PagingTypeOptions.None"
                IsVirtualize="true"
                @ref="ProductCategoryGridView"
                class="table is-bordered is-slim is-color-patterned"
                style="width:100%; min-width:670px; table-layout:fixed; word-break: break-all;">
        <Colgroups>
            <colgroup>
                <col style="width:60px;" />
                <col style="width:60px;" />
                <col style="width:150px;" />
                <col style="width:calc(100% - 270px); min-width: 400px;" />
            </colgroup>
        </Colgroups>
        <Header>
            <tr>
                <th></th>
                <th></th>
                <ynTh PropertyName="@nameof(ProductCategoryInputModel.CategoryId)" class="middle center" />
                <ynTh PropertyName="@nameof(ProductCategoryInputModel.CategoryName)" class="middle center" />
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(ProductCategoryInputModel.CategoryId)" /></th>
                <th class="middle center"><ynFilterInputText PropertyName="@nameof(ProductCategoryInputModel.CategoryName)" /></th>
            </tr>
        </Header>
        <RowTemplate>
            <tr>
                <td class="middle center">
                    <ynEditableSwitch class="yn-button-flat yn-fit-w yn-none-h" />
                </td>
                <td class="middle center">
                    <ynEditableDelete class="yn-button-flat yn-fit-w yn-none-h" />
                </td>
                <td class="middle">
                    <ynInputText PropertyName="@nameof(ProductCategoryInputModel.CategoryId)" />
                </td>
                <td class="middle">
                    <ynInputText PropertyName="@nameof(ProductCategoryInputModel.CategoryName)" />
                </td>
            </tr>
        </RowTemplate>
    </ynGridView>
</div>

@*
    --------------------------------------------------
    option content
    --------------------------------------------------
*@
<ynLayer class="optionbar">
    <ProductCategoriesMaintenanceHelp @ref="HelpPanel" />
</ynLayer>